body {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}
.forced .node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.forced .link {
  stroke: #999;
  stroke-opacity: .6;
}
.hive .axis {
  stroke: #000;
  stroke-width: 1.5px;
}
.hive .node circle {
  stroke: #000;
}
.hive .link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}
.hive .link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.hive .node circle.active {
  stroke: red;
  stroke-width: 3px;
}
